<div class="player">

<div class="device-background"></div>
 
  <div class="device clearfix">
    <div class="controller clearfix">
      <div class="button">
        <div class="up"><i class="icon-caret-up"></i></div>
      </div>
      <div class="button">
        <div class="down"><i class="icon-caret-down"></i></div>
      </div>
    </div>
  </div>

</div>

