
<h1>Register To Play</h1>

<form>
  
  <div class="field">
    <label>
    	First name
    	<span class="required">*</span>
    </label>
    <input id="firstName" type="text" value="" autocorrect="off" />
  </div>
  
  <div class="field">
    <label>
   		 Last name
   	 	<span class="required">*</span>
    </label>
    <input id="lastName" type="text" value="" autocorrect="off" />
  </div>

  <div class="field">
    <label>
    	Email
    	<span class="required">*</span>
    </label>
    <input id="email" type="email" value="" autocorrect="off" />
  </div>
  
  <button>Play!</button>
</form>
