h1{font-family:'Open Sans';font-weight:300;text-align:center}
input,button,select{background-color:#fff;border:1px solid #000;color:#000;display:block;font-size:1.8em;margin:.5em 0 1em 0;padding:.5em;text-align:center;width:100%}
.field{width:90%;margin:0 auto}
img{margin:1.5em}
label{font-family:'Open Sans'}
button{width:90%;background-color:#2b9ea6;color:#fff;font-family:'Open Sans';-webkit-border-radius:6px 6px;-moz-border-radius:6px/6px;-webkit-border-radius:6px/6px;border-radius:6px/6px;border:none;margin:1em auto}
button:hover{background-color:#61ced6}
.note{font-style:italic;text-align:center}
#page.lobby .foo{border:0}
#page.gamepad{border:0;padding:0;}
#page.gamepad .player,#page.gamepad .portrait,#page.gamepad .landscape{display:table;height:100%;width:100%}
#page.gamepad .row{display:table-row}
#page.gamepad .button{display:table-cell;vertical-align:middle}
#page.gamepad .portrait .row{height:50%}
#page.gamepad .portrait .button{width:100%}
#page.gamepad .portrait .button.up{border-bottom:0}
#page.gamepad .portrait .button.down{border-top:0}
#page.gamepad .landscape .row{height:100%}
#page.gamepad .landscape .button{width:50%}
#page.gamepad .landscape .button.up{border-right:0}
#page.gamepad .landscape .button.down{border-left:0}
#page.gamepad .button{border:20px solid #000;display:table-cell;}
#page.gamepad .button i{-webkit-background-size:10em;-moz-background-size:10em;background-size:10em;display:block;height:10em;margin:0 auto;width:10em}
#page.gamepad .p1 .button{border-color:#0065a3;background-color:#0ca3ff;}
#page.gamepad .p1 .button i{background-image:url("/device/images/button-p1.png")}
#page.gamepad .p1 .button.pressed i{background-image:url("/device/images/button-p1-pressed.png")}
#page.gamepad .p2 .button{border-color:#d65100;background-color:#ff7e30;}
#page.gamepad .p2 .button i{background-image:url("/device/images/button-p2.png")}
#page.gamepad .p2 .button.pressed i{background-image:url("/device/images/button-p2-pressed.png")}
@media (orientation: landscape){#page.gamepad .portrait{display:none}
}@media (orientation: portrait){#page.gamepad .landscape{display:none}
}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{margin:0;-webkit-font-smoothing:antialiased}
#menu{background:#000;color:#eee;font-size:1.2em;position:absolute;right:1em;text-align:center;top:1em;z-index:1;}
#menu i{display:block;height:2em;line-height:2.2em;width:2em}
#page{background:#fff;bottom:0;color:#000;left:0;right:0;top:0}
h1{font-size:3em;padding:.6em 0;margin:0}
p{font-size:1.1em;line-height:1.4em;margin:1em 0 2em 0}
