h1
  font-family: 'Open Sans'
  font-size: 20em
  text-align: center

input, button, select
  background-color: #fff
  border: 1px solid #000
  color: #000
  display: block
  font-size: 1.8em
  margin 0.5em 0 1em 0
  padding: 0.5em
  text-align: center
  width: 100%

.field
  width: 90%
  margin: 0 auto

img 
  margin: 1.5em

label
  font-family: 'Open Sans'

button
  width: 90%
  background-color: #2b9ea6;
  color: #ffffff;
  font-family: 'Open Sans'
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  border: none
  margin: 1em auto


button:hover
  background-color: #61ced6

.note 
  font-style: italic
  text-align: center

