global-reset()

@import 'nib'
@import '_pages'
@import '_lobby'
@import '_gamepad'

*
  box-sizing: border-box

body
  margin: 0
  -webkit-font-smoothing: antialiased

#menu
  background: #000
  color: #eee
  font-size: 1.2em
  position: absolute
  right: 1em
  text-align: center
  top: 1em
  z-index: 1
  i
    display: block
    height: 2em
    line-height: 2.2em
    width: 2em

#page
  background: #fff
  bottom: 0
  color: #000
  left: 0
  right: 0
  top: 0

h1
  font-size: 3em
  padding: 0.6em 0;
  margin: 0;

p
  font-size: 1.1em
  line-height: 1.4em
  margin: 1em 0 2em 0
